<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' crossorigin='anonymous'>
</head>
<body>
    <div class="container">
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <h1 class="navbar-brand">Edit My Account</h1>
                <a href="javascript:history.back()">Go Back</a>
                <span>|</span>
                <a href="/logout" role="button"> Logout</a> 
            </nav>
        </div>
        <div class="modal-body row">
            <div class="col-md-6">
                <form action = '/update/{{ session["user_id"] }}' method='post'>
                    <div class="form-group row">
                        <label for="firstname" class="col-sm-2 col-form-label">Firstname</label>
                        <div class="col-sm-10">
                        <input type="text" name="first_name" class="form-control" placeholder="{{session['first_name']}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lastname" class="col-sm-2 col-form-label">Lastname</label>
                        <div class="col-sm-10">
                            <input type="text" name="last_name" class="form-control" placeholder="{{session['last_name']}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                        <input type="email" name="email" class="form-control" placeholder="{{session['email']}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <input type='submit' value='Update'>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p style="color:red">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
            </div>
        </div>
        
        
    </div>
    
</body>
</html>